.idea/
.settings/
.project
*.iml

*.class
*.jar
*.war
*.log
target/
out/

node_modules/
bower_components/
.sass-cache/

.tmp/

dist/


*.user
*.suo
bin/
obj/
packages/
tmp/
/backend-net/.localhistory/Pietryna.API
/backend-net/Pietryna.API/content
