<div class="row">
    <div class="col-md-6">
        <h1>adress: {{vm.place.address}}</h1>
        <h1>category: {{vm.place.category}}</h1>
    </div>
    <div class="col-md-3">
        <h2>Average rating</h2>
        <star-rating ng-model="vm.place.avergeRate" readonly="true"></star-rating>
    </div>
    <div class="col-md-3">
        <h2>User rating</h2>
        <star-rating ng-model="vm.place.userRate" max="5" on-rating-select="vm.rate()"></star-rating>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>{{vm.message}}</h2>
    </div>
</div>