<navbar></navbar>
<container>

  <div class="page-header">
    <h1><small>Your Friends</small></h1>
  </div>
  <ul class="users-list">
    <li ng-repeat="friend in vm.friends">
      <user-item first-name="friend.firstName"
                 last-name="friend.lastName"
                 button-char="&times;"
                 button-click-expression="vm.removeFriend(friend)">
      </user-item>
    </li>
    <li ng-if="!vm.friends.length"><h4>You don't have any friends</h4></li>
  </ul>

  <div class="page-header">
    <h1><small>Find New Friends</small></h1>
  </div>

  <form>
    <div class="input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchQuery">
    </div>
  </form>
  <br>

  <ul class="users-list">
    <li ng-repeat="user in vm.filtered = (vm.filteredUsers | filter:vm.searchQuery | filter:vm.removeFriendsAndUserFilter | orderBy: 'id')">
      <user-item first-name="user.firstName"
                 last-name="user.lastName"
                 button-char="+"
                 button-click-expression="vm.addFriend(user)">
      </user-item>
    </li>
    <li ng-if="!vm.filtered.length"><h4>No users found</h4></li>
  </ul>

</container>
