<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DeveloperDayConnectionString"
      connectionString="server={MYSQL_HOST};user id={MYSQL_LOGIN};password={MYSQL_PASSWORD};database={MYSQL_CATALOG};DefaultTableCacheAge=0" 
      providerName="MySql.Data.MySqlClient"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
