<nav class="navbar navbar-inverse navbar-fixed-top">
  <div ng-class="{'container-fluid': fluid, 'container': !fluid }">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="toggleExpand()" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">
        <span class="glyphicon glyphicon-heart-empty"></span>
        <span>Pietryna</span>
      </span>
    </div>

    <div class="collapse navbar-collapse" ng-style="style">
      <ul class="nav navbar-nav">
        <li><a ng-href="#/home">Places</a></li>
        <li><a ng-href="#/friends">Friends</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
